[Unit]
Description="Afv Control System"
After=network.target

[Service]
ExecStart=/home/afv/git/afv/gcs-afv/target/release/afv

[Install]
WantedBy=multi-user.target
